body{
    margin: 40;
    background-color: rgb(63, 46, 46);
}
.features{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 50px;
   /* grid-template-rows: auto ;
    justify-items: stretch;
    align-items: center;
    */
}

.caja{
    font-size: 28;
    font-family: fantasy;
    background-color: rgb(176, 180, 172);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}